In [1]:
2+4

6

In [2]:
2+2

4

In [3]:
yash

NameError: name 'yash' is not defined

In [4]:
'yash'

'yash'

In [5]:
a='yash'

In [6]:
a

'yash'

### Data type

In [7]:
# Data type
a='name'
print(a)
print('namee')

name
namee

In [8]:
type(a)

str

In [9]:
type(2)

int

In [10]:
type('python')

str

In [11]:
print('hello world')

hello world

In [12]:
a='hello world'
print(a)

hello world

In [13]:
type("hello")

str

In [18]:
"hello"

'hello'

In [14]:
print('book's')

SyntaxError: invalid syntax (2308822778.py, line 1)

In [15]:
print("book's")

book's

In [16]:
print('book"s')

book"s

In [17]:
'''python classes'''
"""pyhton classes"""
print("""pyhton classes""")

pyhton classes

In [19]:
type(2.5)

float

In [20]:
#bool
type (true)

NameError: name 'true' is not defined

In [21]:
type('true')

str

In [22]:
a=5
A=10
print(a)

5

In [23]:
print(A)

10

In [24]:
print(True)

True

In [25]:
type(True)

bool

In [26]:
5>2

True

In [27]:
type(False)

bool

In [28]:
print(2.54)

2.54

In [29]:
type(2.54)

float

In [31]:
a=5+4
print(a)
print('a')
a=5
b=4
a+b

9
a

9

In [32]:
a=python
b=classes
print(a+b)

NameError: name 'python' is not defined

In [35]:
a='python '
b='classes'
print(a+b)

python classes

In [36]:
a=2
b='classes'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
a='2'
b='classes'
print(a+b)

2classes

In [38]:
'''
+ addition
- subs.
* multiply
/ divide
% reminder
'''

'\n+ addition\n- subs.\n* multiply\n/ divide\n% reminder\n'

In [39]:
2+4

6

In [40]:
print(2+4)

6

In [41]:
print('a'+'b')

ab

In [42]:
print('a'+' '+'b')

a b

In [43]:
4-2

2

In [44]:
2-4

-2

In [45]:
print('a'-'b')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [46]:
2*2

4

In [47]:
a*a

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
a*2

'22'

In [49]:
2*a

'22'

In [50]:
g*2

NameError: name 'g' is not defined

In [63]:
g*g

NameError: name 'g' is not defined

In [64]:
'g'*'g'

TypeError: can't multiply sequence by non-int of type 'str'

In [65]:
g=5
g*g

25

In [51]:
'g'*2

'gg'

In [52]:
2*"j"

'jj'

In [53]:
#squre

5**2

25

In [54]:
5**3

125

In [55]:
10/2

5.0

In [56]:
7/2

3.5

In [57]:
7%2

1

In [58]:
# wap to add 3
a=2
b=3
c=8
print(a+b+c)

13

In [ ]:
#valid
a
aa
aaa
book
book1
sciencebook
math_book
MathBook
_mobile
_1mobile

#invalid
1
5
1book
math book
 value

In [59]:
 value=5
print(value)

5

In [60]:
 value=5
    print(value)

IndentationError: unexpected indent (3729476798.py, line 2)

In [61]:
@my=5
print(@my)

SyntaxError: invalid syntax (149221247.py, line 1)

In [62]:
my@book=2
print(my@book)

SyntaxError: cannot assign to operator (713154571.py, line 1)

In [ ]:
my#book=2
print(my@book)