# Day 2

##  '#'is used to write single line comment

In [3]:
# single line comment

 for multiline comment we can use tripple quotes ('''  ''') , (""" """)

In [4]:
''' writing
multiline
comment'''

' writing\nmultiline\ncomment'

# Data types

In [5]:
# int 
1

1

### checking type of data

In [6]:
type(1)

int

In [7]:
# float
2.54

2.54

In [8]:
type(2.54)

float

In [9]:
#str
python

NameError: name 'python' is not defined

In [10]:
'python'

'python'

In [11]:
type('python')

str

In [12]:
type('books')

str

In [13]:
type('book's')

SyntaxError: invalid syntax (3761863522.py, line 1)

In [14]:
type("book's")

str

In [15]:
type('''lff;lf fldkf i'dd"ddjg''')

str

In [16]:
#bool (True,False)
type(true) #python is case senst.

NameError: name 'true' is not defined

In [17]:
type(True)

bool

In [18]:
type(False)

bool

In [19]:
type(2a)

SyntaxError: invalid syntax (3659944107.py, line 1)

In [20]:
#complex
type(2j)

complex

In [21]:
# for printing or getting output use print()
print(2+5)

7

In [22]:
print('python')

python

In [23]:
print('p','y','t','h','o','n')

p y t h o n

In [24]:
print('python','classes')

python classes

In [25]:
print('pythonclasses')

pythonclasses

In [26]:
print('hello world')

hello world

In [27]:
# creating variable

a=5
#a is variable , = is used to assign value, 5 is the value of type int

In [28]:
print(a)

5

## types of valid variable
a

aa

aaaaa

name

specific_name

name1

Name

MyName

_1book

_variable

## types of variable (invalid)
1

@

1asd

 aaa
 
my books

In [ ]:
# operator
# arth
+ addition
- sub
* multiply
** power
/ divide
% reminder

In [29]:
#use of + 
print(2+5)

7

In [30]:
print('python'+'classes')

pythonclasses

In [31]:
print('price'+25)

TypeError: can only concatenate str (not "int") to str

In [32]:
print('price'+'25')

price25

In [33]:
print('price',25)

price 25

In [34]:
print('price',+,25)

SyntaxError: invalid syntax (900980931.py, line 1)

In [35]:
print('price',+25)

price 25

In [36]:
# use of - 
print(2-4)
print(2.22-1.59)

-2
0.6300000000000001

In [37]:
print('aa'-'a')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
# use of *
print(5*3)
print(2.36*7.22)

15
17.039199999999997

In [39]:
print('a'*'a')

TypeError: can't multiply sequence by non-int of type 'str'

In [40]:
print(a*2)
# here a is a variable and the value of a will be multiplied by 2

10

In [41]:
print('a'*2)

aa

In [42]:
print(2*'a')

aa

In [43]:
# use of ** 
#square

print(3539**2)

12524521

In [44]:
# cube
print(549**3)

165469149

In [45]:
print('a'**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [46]:
print('a'**'a')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [47]:
# use of /

print(77/10)

7.7

In [48]:
print(14.22/3)

4.74

In [49]:
print(8j/2)

4j

In [50]:
print(10/3)

3.3333333333333335

In [52]:
# use of %

print(77%10)

7

# WAP to find total pay for a person who works 25 days on 75rs per day basis.

In [53]:
totaldays=25
pay=75
print(totaldays*pay)

1875

In [54]:
print("total number of working days = ",totaldays)
print("pay per day = ", pay)
print('total pay = ',totaldays*pay)

total number of working days =  25
pay per day =  75
total pay =  1875

In [55]:
# data type conversion

type(5.36)

float

In [56]:
print(int(5.36))

5

In [57]:
type(int(5.36))

int

In [58]:
print(int(10/3))

3

In [59]:
print(float(3))

3.0

In [60]:
print(complex(2a))

SyntaxError: invalid syntax (381870314.py, line 1)

In [61]:
# case senst , variable value

a=25

In [62]:
a=15

In [63]:
print(a)

15

In [64]:
a=22
print(a)

22

In [65]:
totaldays=b=25

In [66]:
print(totaldays)

25

In [67]:
print(25)

25

In [68]:
a=2
A=5
print(a)
print(A)

2
5

In [69]:
Print(2+5)

NameError: name 'Print' is not defined